<config>
  <!-- Client Control -->
  <fold-anon v='true'/>

  <!-- Folding Slot Configuration -->
  <gpu v='false'/>

  <!-- HTTP Server -->
  <allow v='127.0.0.1 YOUR_OTHER_WORKSTATION_IP_HERE'/>

  <!-- Slot Control -->
  <power v='full'/>

  <!-- User Information -->
  <!-- passkey v=''/ -->
  <team v='38188'/>
  <user v='CMS-Experiment'/>

  <!-- Web Server -->
  <web-allow v='127.0.0.1 YOUR_OTHER_WORKSTATION_IP_HERE'/>

  <!-- Folding Slots -->
  <slot id='0' type='CPU'>
    <cpus v='-1'/>
  </slot>
</config>

